.app{
  margin-left: 500px;
  margin-top: 300px;
}
button{
  background-color: yellowgreen;
  cursor: pointer;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}
button:hover{
  background-color: yellow;
}